{% extends "base.html" %}

{% block page_content %}
<div class="container">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      {% for people, records in data_set.items() %}
      <li><button class="btn navbar-btn collapsed" type="button" data-toggle="collapse" data-target={{ ["#", people]|join("") }} aria-expanded="true" aria-controls={{ ["#", people]|join("") }}> {{ people }} </button></li>
      {% endfor %}
    </ul>
  </div>
  {% for people, records in data_set.items() %}
  <table id={{ people }} class="collapse table table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        <th> Date </th>
        <th> Checkin </th>
        <th> Checkout </th>
        <th> Checkin </th>
        <th> Checkout </th>
        <th> Notes </th>
      </tr>
    </thead>
    <tbody>
      {% for date, time_list in records.items() %}
      <tr>
        <td> {{ date }} </td>
        {% for time in time_list %}
        <td data-editable="true"> {% if time %} {{ time }} {% endif %} </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
</div>
{% endblock %}
