{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
  <p>
    <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#attendanceUpload" aria-expanded="false" aria-controls="attendanceUpload commissionUpload payrollResult">Step1: Upload attendance file</button>
    <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#commissionUpload" aria-expanded="false" aria-controls="commissionUpload attendanceUpload payrollResult">Step2: Upload commission file</button>
    <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#payrollResult" aria-expanded="false" aria-controls="payrollResult attendanceUpload payrollResult">Step3: Payroll results</button>
  </p>
</div>
<form method=POST enctype=multipart/form-data action="{{ url_for('payroll.index') }}" class="collapse" id="attendanceUpload">
  <div class="form-group">
    <label for="AttendanceFile">Please upload attendance file here. This is the first step for payroll calculation.</label>
    <input type="file" class="form-control-file" id="AttendanceFile">
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
<form method=POST enctype=multipart/form-data action="{{ url_for('payroll.index') }}" class="collapse" id="commissionUpload">
  <div class="form-group">
    <label for="CommissionFile">Please upload commission file here. This is the second step for payroll calculation.</label>
    <input type="file" class="form-control-file" id="CommissionFile">
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
<form class="collapse" id="payrollResult">
  <label>This is the last step for payroll calculation.</label>
</form>
{% endblock %}
